@model WeatherOnMarsApp.Models.WeatherDatum

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WeatherDatum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TerrestrialDate" class="control-label"></label>
                <input asp-for="TerrestrialDate" class="form-control" />
                <span asp-validation-for="TerrestrialDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinTemp" class="control-label"></label>
                <input asp-for="MinTemp" class="form-control" />
                <span asp-validation-for="MinTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxTemp" class="control-label"></label>
                <input asp-for="MaxTemp" class="form-control" />
                <span asp-validation-for="MaxTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindSpeed" class="control-label"></label>
                <input asp-for="WindSpeed" class="form-control" />
                <span asp-validation-for="WindSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pressure" class="control-label"></label>
                <input asp-for="Pressure" class="form-control" />
                <span asp-validation-for="Pressure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtmoOpacity" class="control-label"></label>
                <input asp-for="AtmoOpacity" class="form-control" />
                <span asp-validation-for="AtmoOpacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
